In [1]:
!pip install PyGMT

Requirement already satisfied: PyGMT in c:\users\yevgeniy\anaconda3\lib\site-packages (0.8.0)
Requirement already satisfied: numpy>=1.20 in c:\users\yevgeniy\anaconda3\lib\site-packages (from PyGMT) (1.21.5)
Requirement already satisfied: pandas in c:\users\yevgeniy\anaconda3\lib\site-packages (from PyGMT) (1.4.2)
Requirement already satisfied: xarray in c:\users\yevgeniy\anaconda3\lib\site-packages (from PyGMT) (0.20.1)
Requirement already satisfied: packaging in c:\users\yevgeniy\anaconda3\lib\site-packages (from PyGMT) (21.3)
Requirement already satisfied: netCDF4 in c:\users\yevgeniy\anaconda3\lib\site-packages (from PyGMT) (1.6.3)
Requirement already satisfied: cftime in c:\users\yevgeniy\anaconda3\lib\site-packages (from netCDF4->PyGMT) (1.6.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\yevgeniy\anaconda3\lib\site-packages (from packaging->PyGMT) (3.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\yevgeniy\anaconda3\lib\site-packages (from pandas->PyGMT) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\yevgeniy\anaconda3\lib\site-packages (from pandas->PyGMT) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\yevgeniy\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->PyGMT) (1.16.0)

In [2]:
from keplergl import KeplerGl
import pandas as pd
from datetime import datetime

In [3]:
raw_dataset = pd.read_csv('Almaty_seismic_events_2015_2020.csv')

In [4]:
raw_dataset.head()

     yr  Mon  Day  Hr  Min   Sec    Lat    Lon  Height  Energyclass    M
0  2015    1   22  15   52  27.9  42.20  75.02      20         11.9  4.4
1  2015    3   15  14    1   0.1  42.95  76.93      20         11.8  3.6
2  2015    6   19   0   54  41.1  44.75  78.78      10         10.4  2.8
3  2015    7    7   7   13   3.0  43.28  77.72      10          9.6  3.4
4  2015    9    1   7   32  28.3  44.38  76.13      20          9.8  2.4

In [5]:
def str_to_date(year, month, day, hour, minutes, seconds):
    date = datetime(int(year), int(month), int(day), int(hour), int(minutes), int(seconds))

    return date

In [6]:
df = raw_dataset.iloc[:, 6:].copy()
df = df.rename(columns={'M': "Magnitude"})
df.head()

     Lat    Lon  Height  Energyclass  Magnitude
0  42.20  75.02      20         11.9        4.4
1  42.95  76.93      20         11.8        3.6
2  44.75  78.78      10         10.4        2.8
3  43.28  77.72      10          9.6        3.4
4  44.38  76.13      20          9.8        2.4

In [7]:
df['Time']=raw_dataset.apply(lambda x: str_to_date(x['yr'], x['Mon'], x['Day'], x['Hr'], x['Min'], x['Sec']), axis=1)
df['Time'] = df['Time'].apply(lambda x: str(x))

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Lat          44 non-null     float64
 1   Lon          44 non-null     float64
 2   Height       44 non-null     int64
 3   Energyclass  44 non-null     float64
 4   Magnitude    44 non-null     float64
 5   Time         44 non-null     object
dtypes: float64(4), int64(1), object(1)
memory usage: 2.2+ KB

In [9]:
map_1 = KeplerGl(height=600)

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [10]:
map_1.add_data(data=df, name='Earthquake Visualization')
config = {
    'version': 'v1',
    'config': {
        'mapState': {
            'latitude': 43.28,
            'longitude': 76.92,
            'zoom': 10
        }
    }
}
map_1.add_data(data=df, name='data_1')
map_1.config = config

In [11]:
path = '/Users/Yevgeniy/Desktop/Earthquake Visualization.html'
map_1.save_to_html(file_name=path)

Map saved to /Users/Yevgeniy/Desktop/Earthquake Visualization.html!